body {
    font-family: 'Poppins', sans-serif;
}

header{
    text-align: center;
    margin-top: 50px
}

.menu-container {
    max-width: 200px;
}
.menu-container .btn {
    width: 300%; 
    margin-bottom: 10px;
}
